# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project



# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

#Extra Ignores
data-collection-mod/.vscode/*
data-collection-mod/.vscode/tasks.json
data-collection-mod/.vscode/launch.json
data-collection-mod/.vscode/settings.json

.vscode/
data-collection-mod/.vscode/
data-collection-mod/data/
minecraft-ai-player-mod/.vscode/
data-collection-mod/data/

